<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cslg.secruity.repository.LogRepository">
    <!-- void insertLoginLog(SysLoginLog sysLoginLog); -->
    <insert id="insertLoginLog">
        insert into sys_login_log(username,
                                  ipaddr,
                                  status,
                                  msg,
                                  access_time)
        values (#{username},
                #{ipaddr},
                #{status},
                #{msg},
                now())
    </insert>

    <!-- void insertOperLog(SysOperLog sysOperLog); -->
    <insert id="insertOperLog">
        insert into sys_oper_log(title,
                                 business_type,
                                 method,
                                 request_method,
                                 operator_type,
                                 oper_name,
                                 oper_url,
                                 oper_ip,
                                 oper_param,
                                 status,
                                 oper_time)
        values (#{title},
                #{businessType},
                #{method},
                #{requestMethod},
                #{operatorType},
                #{operName},
                #{operUrl},
                #{operIp},
                #{operParam},
                #{status},
                now())
    </insert>
    <sql id="loginLog">
        id,
        username,
        ipaddr,
        status,
        msg,
        access_time,
        create_time,
        update_time,
        is_deleted
    </sql>
    <!-- List<SysLoginLog> pageLoginLog(PageLogCondition pageLogCondition); -->
    <select id="pageLoginLog" resultType="com.cslg.secruity.entity.SysLoginLog">
        select
        <include refid="loginLog"></include>
        from sys_login_log sll
        <where>
            sll.is_deleted=0
            <if test="username!='' and username!=null">
                and username like concat(#{username},'%')
            </if>
            <if test="beginDate!=null and beginDate!=''">
                and date_format(sll.create_time,'%Y-%m-%d') <![CDATA[>=]]> #{beginDate}
            </if>
            <if test="endDate != null and endDate !=''">
                and date_format(sll.create_time,'%Y-%m-%d') <![CDATA[<=]]> #{endDate}
            </if>
        </where>
        order by sll.create_time desc
        <if test="start !=null and limit >0">
            limit #{start},#{limit}
        </if>
    </select>

    <!-- List<SysLoginLog> countPageLoginLog(PageLogCondition pageLogCondition); -->
    <select id="countPageLoginLog" resultType="java.lang.Long">
        select count(1)
        from sys_login_log sll
        <where>
            sll.is_deleted=0
            <if test="username!='' and username!=null">
                and username like concat(#{username},'%')
            </if>
            <if test="beginDate!=null and beginDate!=''">
                and date_format(sll.create_time,'%Y-%m-%d') <![CDATA[>=]]> #{beginDate}
            </if>
            <if test="endDate != null and endDate !=''">
                and date_format(sll.create_time,'%Y-%m-%d') <![CDATA[<=]]> #{endDate}
            </if>
        </where>
    </select>

    <!-- Long countPageOperLog(PageOperCondition pageOperCondition); -->
    <select id="countPageOperLog" resultType="java.lang.Long">
        select count(1)
        from sys_oper_log sol
        <where>
            sol.is_deleted=0
            <if test="moduleName!='' and moduleName!=null">
                and title =#{moduleName}
            </if>
            <if test="moduleName!='' and moduleName!=null">
                and oper_name =#{moduleName}
            </if>
            <if test="beginDate!=null and beginDate!=''">
                and date_format(sll.create_time,'%Y-%m-%d') <![CDATA[>=]]> #{beginDate}
            </if>
            <if test="endDate != null and endDate !=''">
                and date_format(sll.create_time,'%Y-%m-%d') <![CDATA[<=]]> #{endDate}
            </if>
        </where>
    </select>
    <!-- List<SysOperLog> pageOperLog(PageOperCondition pageOperCondition); -->
    <select id="pageOperLog" resultType="com.cslg.secruity.entity.SysOperLog">
        select
        sol.id,
        sol.title,
        sol.business_type,
        sol.method,
        sol.request_method,
        sol.oper_name,
        sol.oper_ip,
        sol.oper_time
        from sys_oper_log sol
        <where>
            sol.is_deleted=0
            <if test="moduleName!='' and moduleName!=null">
                and oper_name =#{moduleName}
            </if>
            <if test="username!='' and username!=null">
                and title =#{username}
            </if>
            <if test="beginDate!=null and beginDate!=''">
                and date_format(sll.create_time,'%Y-%m-%d') <![CDATA[>=]]> #{beginDate}
            </if>
            <if test="endDate != null and endDate !=''">
                and date_format(sll.create_time,'%Y-%m-%d') <![CDATA[<=]]> #{endDate}
            </if>
        </where>
        order by sol.oper_time desc
        <if test="start !=null and limit >0">
            limit #{start},#{limit}
        </if>
    </select>


    <!-- Integer deleteLoginLog(@Param("id") String id); -->
    <update id="deleteLoginLog">
        update sys_login_log
        set is_deleted=1
        where id = #{id}
    </update>

    <!-- Integer deleteOperLog(@Param("id") String id); -->
    <update id="deleteOperLog">
        update sys_oper_log
        set is_deleted=1
        where id = #{id}
    </update>
</mapper>
