<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cslg.reserve.repository.ReserveRepository">

    <!-- List<ReserveLabVo> pageReserveLab(PageReserveCondition pageReserveCondition); -->
    <select id="pageReserveLab" resultType="com.cslg.reserve.vo.ReserveLabVo">
        select
        tl.lab_name,
        tl.lab_url,
        tl.lab_name,
        tl.longitude,
        tl.latitude,
        tst.begin_time,
        tst.end_time,
        concat(date_format(tst.begin_time,'%H:%i'),'-',date_format(tst.end_time,'%H:%i')) as spliceTime
        from t_lab tl
        inner join t_lab_time_membership tltm on tltm.lab_id = tl.id
        left join t_splice_time tst on tst.id = tltm.time_id
        where tl.status =0 and tl.is_deleted =0
        order by tl.id,spliceTime
        <if test="start !=null and limit >0">
            limit #{start},#{limit}
        </if>
    </select>

    <!-- void insertReserve(StartReserveParam startReserveParam); -->
    <insert id="insertReserve">
        insert into t_lab_reserve(lab_id,
                                  user_id,
                                  reserve_date,
                                  create_time,
                                  update_time,
                                  status,
                                  splice_time_id,
                                  reason)
        values (#{labId},
                #{userId},
                #{reserveDate},
                current_timestamp(),
                current_timestamp(),
                0,
                #{spliceTimeId},
                #{reason})
    </insert>

    <!-- void updateReserve(StartReserveParam startReserveParam); -->
    <update id="updateReserve">
        update t_lab_reserve
        set status = 1
        where id = #{id}
    </update>
    <!-- Integer countReserveByParam(StartReserveParam startReserveParam); -->
    <select id="countReserveByParam" resultType="java.lang.Integer">
        select count(*)
        from t_lab_reserve
        where splice_time_id = #{spliceTimeId}
          and reserve_date = #{reserveDate}
          and is_deleted = 0
    </select>

    <!-- ReserveLabVo getReserveInfo(PageReserveCondition pageReserveCondition); -->
    <select id="getReserveInfo" resultType="com.cslg.reserve.vo.ReserveLabVo">
        select *
        from t_lab_reserve
    </select>
</mapper>
