<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cslg.deivce.repository.DeviceRepository">
    <sql id="deviceColumSql">
        id,
        lab_id,
        device_name,
        device_usage,
        deivce_param,
        device_principle,
        device_model,
        project,
        create_time,
        update_time,
        create_id,
        update_id,
        device_urlw
    </sql>
    <!--List<DeviceEntity> findDeviceByLabId(@Param("id") Long id);-->
    <select id="findDeviceByLabId" resultType="com.cslg.deivce.entity.DeviceEntity">
        select <include refid="deviceColumSql"></include>
            from t_lab_device tld
        left join t_device td on tld.device_id = td.id
        where tld.lab_id = #{id}
    </select>

    <update id="deleteLabAndDeviceRelationship">
        update t_lab_device
        set is_deleted = 1
        where device_id = #{id}
    </update>

    <insert id="insertLabAndDeviceRelationship">
        insert into t_lab_device(lab_id,
                                 device_id)
        values (#{labId},
                #{deviceId})
    </insert>

    <!-- Integer insertDevice(DeviceEntity deviceEntity); -->
    <insert id="insertDevice" useGeneratedKeys="true" keyProperty="id">
        insert into t_device(device_name,
                             device_usage,
                             device_param,
                             device_principle,
                             device_model,
                             device_url)
        values (#{deviceName},
                #{deviceUsage},
                #{deviceParam},
                #{devicePrinciple},
                #{deviceModel},
                #{deviceUrl})
    </insert>

    <select id="countPageDevice" resultType="java.lang.Long">
        select count(*)
        from t_device td
        left join t_lab_device tld on tld.device_id = td.id
        left join t_lab tl on tld.lab_id = tl.id
        <where>
            td.is_deleted!=1
            <if test="deviceName!=null and deviceName!=''">
                and td.device_name like concat(#{deviceName},'%')
            </if>
            <if test="labName!=null and labName!=''">
                and tl.lab_name like concat(#{labName},'%')
            </if>
        </where>
    </select>

    <!-- List<DeviceVo> pageDevice(PageDeviceCondition pageDeviceCondition); -->
    <select id="pageDevice" resultType="com.cslg.deivce.vo.DeviceVo">
        select td.*
        ,tl.id as labId
        ,ifnull(tl.lab_name,'未分配') as lab_name
        from t_device td
        left join t_lab_device tld on tld.device_id = td.id
        left join t_lab tl on tld.lab_id = tl.id

        <where>
            td.is_deleted!=1
            <if test="deviceName!=null and deviceName!=''">
                and td.device_name like concat(#{deviceName},'%')
            </if>
            <if test="labName!=null and labName!=''">
                and tl.lab_name like concat(#{labName},'%')
            </if>
        </where>
        order by td.create_time desc
        <if test="start!=null and limit>0">
            limit #{start},#{limit}
        </if>
    </select>

    <!--DeviceVo getDeviceVo(Long id);-->
    <select id="getDeviceVo" resultType="com.cslg.deivce.vo.DeviceVo">
        select td.*,tl.lab_name,tl.id as labId,ifnull(tl.lab_name,'未分配')
        from t_device td
        left join t_lab_device tld on tld.device_id = td.id
        left join t_lab tl on tld.lab_id = tl.id
        <where>
            td.is_deleted!=1 and td.id = #{id}
        </where>
    </select>

    <!--Integer deleteDevice(@Param("id") Long id);-->
    <update id="deleteDevice">
        update t_device set is_deleted = 1
        where id = #{id}
    </update>
</mapper>
